* {
  box-sizing: border-box;
}

body {
  padding-left: 15px;
  padding-right: 15px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* ____________________
// COLOR SWITCHER
// ____________________
*/

.color-switcher-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-switcher-wrapper button {
  width: 200px;
  height: 60px;

  font-size: 24px;
  font-family: inherit;
  line-height: 1.5;
}

.color-switcher-wrapper button:not(:last-child) {
  margin-right: 6px;
}

/* ____________________
// TIMER
// ____________________
*/

.timer-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

input#datetime-picker {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.timer-start,
input#datetime-picker {
  display: block;
  font-size: 18px;
  font-family: inherit;
  line-height: 1.5;
  font-weight: 600;
}

.timer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field:not(:last-child) {
  margin-right: 20px;
}

.field .value {
  font-size: 32px;
  font-weight: 600;
}

.field .label {
  text-transform: uppercase;
  font-weight: 400;
}

/* ____________________
// PROMISES
// ____________________
*/

.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.form,
.form button,
.form input {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.form button,
.form label {
  max-width: 30%;
}

.form label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
